.mandatory-sign {
	color: red;
}


.default_project_dropdown {
	display: block;
	padding: 2px 15px;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	max-width: 150px;
	font-size: 14px;
}


.font-size-12 {
	font-size: 0.85rem;
	color: #495057;
}

.details-title {
	text-transform: capitalize;
}