.user_multi_select button {
	background-color: grey !important;
	color: #fff !important;
}

.mandatory-sign {
	color: red;
}

.card_fix_height {
  max-height: 230px;
  overflow-y: auto; 
}

.scrum-project-filter {
  width: 150px;
  position: absolute;
  top: 12px;
  right: 30px;
  border-radius: 3px;
  z-index: 100;
  font-size: 0.8rem;
  border: 1px solid #aaa;
  height: 26px;
}


.updateProjectHeight {
    height: 280px;
}

.updateProjectHeight ul li {
    font-size: 13px;
    font-weight: 500;
    color: #72747b;
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}